body {
  height: 500%;
  background-image: url("hal01.jpeg");
  height: 500%;
  background-repeat: no-repeat;
  height: 500%;
  background-position: center;
  background-size: cover;


}
body {
  text:white;
}
